.yt-add {
  margin-top: rem(20);
  padding: rem(40) 0;
}
.yt-banner-cool-title {
  text-align: center;
}

.yt-banner-cool-quote {
  text-align: center;
}
.yt-banner-content {
  text-align: center;;
  img {
    max-width: 85%;
  }
}