// Name: Gulp variables

// !Colors
// ==|=========================================================================
$color_blue: #00c4cc;
$color_default: #404040;
$color_transparent: rgba(255, 255, 255, .2);
$color_purple: #9c27b0;

$color_success: #55b559;
// !Typography
// ==|=========================================================================
$font_family-default: 'Roboto', sans-serif;

$font-size-base: 100%;
$font-size-base-px: 16px;

// ! Remify & Emify values
// ==|=========================================================================
@function rem($value) {
  @return #{$value/16}rem;
}
@function em($value) {
  @return #{$value/16}em;
}

// ! Some custom mixins
// ==|=========================================================================
@mixin below($width) {
  @include breakpoint(max-width $width){
    @content;
  }
}